@use "sass:math";

body {

    &.lock, &.page-lock {
        overflow: hidden;
        touch-action: none;
    }
}

// Базовые анимации:
// @import "keyframes";

// Стили для полноэкранного блока:
@import "fullscreen";

// Стили основного ограничивающего контейнера =================================
/*
  * (i) Стили будут применяться ко 
  * всем классам содержащим *__container
  * Например header__container, main__container и т.д.
  */
[class*="__container"] {
    max-width: rem($containerWidth + $mainOffset * 2);
    margin: 0 auto;
    padding: 0 rem($mainOffset);
}

// Стили отзывчивых картинок (IBG) ============================================
[class*="-ibg"] {
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

[class*="-ibg_contain"] {
    img {
        object-fit: contain;
    }
}

// Стили для обертки модальных окон ===========================================
[class*="_overlay-bg"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: $standartTrans; // Можно задать свою анимацию
    z-index: 2000; // Увеличить если нужно
    padding: rem(60) rem(15); // Изменить по макету
    overflow-y: auto;

    @media(max-width: 768px) {
        &::-webkit-scrollbar {
            // Удалить из за ненадобности
            display: none;
        }
    }

    &._is-open {
        opacity: 1;
        visibility: visible;
    }
}

// Оболочка ===================================================================
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: clip; // clip - если используется в проекте position: sticky
}

.page {
    position: relative;
    z-index: 2;
    flex: 1 1 auto;

    [data-observ] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: rem(2);
        background: transparent;
        pointer-events: none;
    }

    &_start {
        padding-top: rem($headerHeight);
    }

    &__container {
        padding-top: 80px;
        padding-bottom: 150px;
    }
    &__title {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 620px;
        margin: 0 auto 40px;

        span {
            color: #EF5E0D;
            text-align: center;
            @include adaptiv-font(42, 21);
            font-style: normal;
            font-weight: 700;
            line-height: 159.523%;
            text-transform: capitalize;
        }

        p {
            color: #E9EAEA;
            text-align: center;
            @include adaptiv-font(28, 14);
            font-style: normal;
            //font-weight: 400;
            line-height: 148.023%;
            text-transform: uppercase;
        }
    }

    &__line {
        width: 260px;
        height: 6px;
        margin: 0 auto 30px;
        background: url("../img/line-gray.png") no-repeat center / cover;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: #FFF;

        font-family: 'Inter', sans-serif;
        font-size: 20px;
        @include adaptiv-font(20, 12);
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 35.095px */
        text-transform: capitalize;

        ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-left: 30px;

            li {
                list-style: disc;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    margin-top: 20px;

                    li {
                        list-style: lower-latin;
                    }
                }
            }
        }

        ol {
            li {
                list-style: decimal;
            }
        }
    }
}