.table {
  background: #2F2F2F;

  &__inner {
    position: relative;
    max-width: 1780px;
    margin: auto;
    padding: 50px 0;
    background-size: cover;
    border-radius: 0 0 40px 40px;

    &:before {
      content: '';
      position: absolute;
      top: -7px;
      left: 0;
      width: 100%;
      height: 7px;
      background: url("../img/line-gray.png") repeat-x center;
    }
  }

  &__title {
    margin-bottom: 60px;

    @media (max-width: 991px) {
      display: none;
    }

    p {
      max-width: 710px;
      margin: auto;
      padding: 20px 70px;
      background: #CB4C05;
      border-radius: 6px;
      text-align: center;
      @include adaptiv-font(42, 21);
      font-style: normal;
      font-weight: 700;
      line-height: 91.445%;
      letter-spacing: 7.77px;
      text-transform: uppercase;
    }
  }

  &__title2 {
    position: relative;
    width: max-content;
    margin: 0 auto 50px;


    &:before {
      content: '';
      position: absolute;
      top: -15px;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% + 40px);
      height: 100%;
      background: #CB4C05;
      border-radius: 10px;
    }

    p {
      position: relative;
      margin: auto;
      border-radius: 6px;
      text-align: center;
      @include adaptiv-font(42, 21);
      font-style: normal;
      font-weight: 700;
      line-height: 91.445%;
      letter-spacing: 7.77px;
      text-transform: uppercase;
    }
  }

  &__wrapper {
    @media (max-width: 767px) {
      position: relative;
      left: -20px;
      padding: 20px 20px 0;
      width: calc(100% + 40px);
      overflow-x: scroll;

      &::-webkit-scrollbar,
      &::-webkit-scrollbar-track,
      &::-webkit-scrollbar-thumb {
        width: 0;
        height: 0;
      }
    }
  }

  &__scroll {
    @media (max-width: 767px) {
      width: 830px;
      overflow: hidden;
    }
  }

  &__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-bottom: 13px;
    padding: 20px;
    border-radius: 28.308px 28.308px 0 0;
    background: #000;

    @media (max-width: 767px) {
      padding: 11px;
      margin-bottom: 7px;
    }

    span {
      text-align: center;
      @include adaptiv-font(32, 17);
      font-style: normal;
      font-weight: 700;
      line-height: 1; /* 52.105px */
      text-transform: capitalize;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 4px;

    @media (max-width: 767px) {
      gap: 2px;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;

    @media (max-width: 767px) {
      gap: 2px;
    }

    &:last-child {
      .table__col:first-child {
        border-radius: 0px 0px 0px 15.524px;
      }
      .table__col:last-child {
        border-radius: 0px 0px 15.524px 0;
      }
    }
  }

  &__col {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    min-height: 70px;

    @media (max-width: 540px) {
      min-height: 40px;
    }

    span {
      color: #000;
      text-align: center;
      font-size: 23.953px;
      @include adaptiv-font(24, 13);
      font-style: normal;
      font-weight: 400;
      line-height: 1.2;
      text-transform: capitalize;
    }
  }
}