.table {
  background: #2F2F2F;

  &__inner {
    position: relative;
    max-width: 1780px;
    margin: auto;
    padding: 50px 0;
    background-size: cover;
    border-radius: 0 0 40px 40px;

    &:before {
      content: '';
      position: absolute;
      top: -7px;
      left: 0;
      width: 100%;
      height: 7px;
      background: url("../img/line-gray.png") repeat-x center;
    }
  }

  &__title {
    margin-bottom: 60px;

    @media (max-width: 991px) {
      display: none;
    }

    p {
      max-width: 710px;
      margin: auto;
      padding: 20px 70px;
      background: #CB4C05;
      border-radius: 6px;
      text-align: center;
      @include adaptiv-font(42, 21);
      font-style: normal;
      font-weight: 700;
      line-height: 91.445%;
      letter-spacing: 7.77px;
      text-transform: uppercase;
    }
  }

  &__title2 {
    position: relative;
    width: max-content;
    margin: 0 auto 50px;

    @media (min-width: 992px) {
      display: none;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% + 40px);
      height: 100%;
      background: #CB4C05;
      border-radius: 10px;
    }

    p {
      position: relative;
      margin: auto;
      border-radius: 6px;
      text-align: center;
      @include adaptiv-font(42, 17);
      font-style: normal;
      font-weight: 700;
      line-height: 91.445%;
      letter-spacing: 7.77px;
      text-transform: uppercase;
    }

    @media (max-width: 991px) {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        background: #CB4C05;
        border-radius: 2.7px;
      }

      p {
        padding: 10px 20px;
        letter-spacing: 3.145px;
      }
    }
  }

  &__wrapper {
    @media (max-width: 767px) {
      position: relative;
      left: -20px;
      padding: 20px 20px 0;
      width: calc(100% + 40px);
      overflow-x: scroll;

      &::-webkit-scrollbar,
      &::-webkit-scrollbar-track,
      &::-webkit-scrollbar-thumb {
        width: 0;
        height: 0;
      }
    }
  }

  &__scroll {
    @media (max-width: 767px) {
      width: 830px;
      overflow: hidden;
    }
  }

  table {
    thead {
      td {
        padding: 20px;
        background: #000;

        @media (max-width: 767px) {
          padding: 11px;
        }

        &:first-child {
          border-radius: 28.308px 0 0 0;
        }
        &:last-child {
          border-radius: 0 28.308px 0 0;
        }
      }
      span {
        display: block;
        text-align: center;
        @include adaptiv-font(32, 17);
        font-style: normal;
        font-weight: 700;
        line-height: 1; /* 52.105px */
        text-transform: capitalize;
      }
    }

    .table__row {
      background: white;

      &:last-child {
        .table__col:first-child {
          border-radius: 0px 0px 0px 15.524px;
        }
        .table__col:last-child {
          border-radius: 0px 0px 15.524px 0;
        }
      }
    }

    .table__col {
      width: calc(100% / 3);
      background: white;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 70px;
        margin: auto;

        @media (max-width: 540px) {
          min-height: 40px;
        }
        color: #000;
        text-align: center;
        @include adaptiv-font(21, 13);
        font-style: normal;
        font-weight: 400;
        line-height: 1.2;
        text-transform: capitalize;
      }
    }
  }
}